RewriteEngine On
Options -MultiViews

# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://emine.com.ng/ [R,L] 


# Users Website
RewriteRule ^account/plans   users/subscriptions.php [QSA,NC,L]

RewriteRule ^account/transactions   users/transaction.php [QSA,NC,L]

RewriteRule ^account/refrerral   users/refrerral.php [QSA,NC,L]

RewriteRule ^account/profile   users/profile.php [QSA,NC,L]

RewriteRule ^account/tasks   users/tasks.php [QSA,NC,L]

RewriteRule ^account/task/([^/]+)/?$   users/participate.php?ad_id=$1 [QSA,NC,L]

RewriteRule ^account/buy-plan/([^/]+)/?$    users/buy-subscription.php?plan_id=$1 [QSA,NC,L]

RewriteRule ^account/withdrawals   users/withdrawal.php [QSA,NC,L]

RewriteRule ^account/login  login.php [QSA,NC,L]

RewriteRule ^account/register  register.php [QSA,NC,L]

RewriteRule ^account/index/registered   users/index.php?register=true [QSA,NC,L]

RewriteRule ^account/index/logged_in   users/index.php?login=true [QSA,NC,L]

RewriteRule ^account/logout  users/logout.php [QSA,NC,L]

RewriteRule ^account/login  login.php [QSA,NC,L]

RewriteRule ^account/register  register.php [QSA,NC,L]

RewriteRule ^account/   users/index.php [QSA,NC,L]


# Main Website
RewriteRule ^vendors   vendors.html [QSA,NC,L]

RewriteRule ^terms-and-conditions   terms-and-conditions.html [QSA,NC,L]

RewriteRule ^privacy-policy   privacy-policy.html [QSA,NC,L]

RewriteRule ^contact   contact.html [QSA,NC,L]

RewriteRule ^about   about.html [QSA,NC,L]

RewriteRule ^login   login.php [QSA,NC,L]

RewriteRule ^signup   signup.php [QSA,NC,L]

ErrorDocument 404 /404.html