RewriteEngine On
Options -MultiViews

#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://emine.com.ng/ [R,L]


# Main Website
RewriteRule ^reg/([^/]+)/?$   signup.php?referral_code=$1 [QSA,NC,L]

RewriteRule ^reset-password/([^/]+)([^/]+)/?$   forgot-password.php?user_id=$1&code=$2  [QSA,NC,L]

RewriteRule ^terms /terms-and-condition.html [L]

RewriteRule ^forgot-password   forgot-password.html [QSA,NC,L]

RewriteRule ^privacy-policy privacy.html [L]

RewriteRule ^account/registered   users/index.php?register=true [QSA,NC,L]

RewriteRule ^vendors   vendors.html [QSA,NC,L]

RewriteRule ^contact   contact.html [QSA,NC,L]

RewriteRule ^about   about.html [QSA,NC,L]

RewriteRule ^login   login.php [QSA,NC,L]

RewriteRule ^signup   signup.php [QSA,NC,L]



# Users Website
RewriteRule ^account/plans   users/subscriptions.php [QSA,NC,L]

RewriteRule ^account/transactions   users/transaction.php [QSA,NC,L]

RewriteRule ^account/refrerral   users/refrerral.php [QSA,NC,L]

RewriteRule ^account/profile   users/profile.php [QSA,NC,L]

RewriteRule ^account/tasks   users/tasks.php [QSA,NC,L]

RewriteRule ^account/task/([^/]+)/?$   users/participate.php?ad_id=$1 [QSA,NC,L]

RewriteRule ^account/buy-plan/([^/]+)/?$    users/buy-subscription.php?plan_id=$1 [QSA,NC,L]

RewriteRule ^account/withdrawals   users/withdrawal.php [QSA,NC,L]

RewriteRule ^account/login  login.php [QSA,NC,L]

RewriteRule ^account/register  register.php [QSA,NC,L]

RewriteRule ^account/logged_in   users/index.php?login=true [QSA,NC,L]

RewriteRule ^account/logout  users/logout.php [QSA,NC,L]

RewriteRule ^account/logged_out  logout.php?logged_out=true [QSA,NC,L]

RewriteRule ^account/register  register.php [QSA,NC,L]


ErrorDocument 404 /404.
