:root{
    --primary-color: #34004d;
    --secondary-color: #F3893F;
    --black-color: black;
    --white-color: white;
}
nav{
    background-color: var(--primary-color);
    position: relative;
    /* overflow-y: hidden; */
}
.navigation-links{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.menu{
    text-align: end;
    /* border: 2px solid red; */
    width: 100%;
    
}
.logo-menu{
    display: flex;
}
.logo-image{
    /* border: 2px solid red; */

    width: 150px;
    height: 40px;
}

.logo-image img{
    width: 100%;
}

.menu i{
    color: white;
    font-size: 1.3rem;
}
.side-bar{
    background-color: white;
    width: 250px;
    position: absolute;
    top: 0;
    right: -250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    transition: right 0.5s ease; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;

}
.side-bar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.side-bar li{
    list-style-type: none;
}

.side-bar a{
    text-decoration: none;
    color: black;
}

.side-bar .text{
    font-weight: 700;
}

.active{
    top: 0;
    right: 0;
}