*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}

:root{
    --primary-color: #34004d;
    --secondary-color: #F3893F;
    --black-color: black;
    --white-color: white;
    --very-bold: 700;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgba(239, 237, 237, 0.575);
}
html{

    contain: content;

    }
.subscription{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.subscription-panel{
    /* border: 2px solid; */
    width: 100%;
    padding: 0px 20px;
    /* border: 2px solid; */
    background-color: white;

}
.subscription-panel .head{
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
    /* border: 2px solid; */
}

.subscription-container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--primary-color);
}

.subscription .content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.head-buy{
    display: flex;
    justify-content: space-between;
}
.subscription-container img{
    background-color: var(--white-color);
    border-radius: inherit;

}
.head-buy .head{
    font-weight: var(--very-bold);
    font-size: 1.2rem;
    color: var(--secondary-color);
}
.head-buy button{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);
    
}
.head-buy button a{
    text-decoration: none;
    color: var(--white-color);
}

.content .details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price,
.days,
.daily-income,
.total-income{
    display: flex;
    justify-content: space-between;
    
}

.details .amount{
    font-weight: var(--very-bold);
}

.text, 
.amount{
    color: var(--secondary-color);
}